<%= form_with(url: url, 
              method: method, 
              local: true, 
              class: 'mt-3') do |form| %>
  
  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, name: 'employee[name]', class: 'form-control', value: employee["name"] %>
  </div>

  <div class="mb-3">
    <%= form.label :position, class: 'form-label' %>
    <%= form.text_field :position, name: 'employee[position]', class: 'form-control', value: employee["position"] %>
  </div>

  <div class="mb-3">
    <%= form.label :salary, class: 'form-label' %>
    <%= form.number_field :salary, name: 'employee[salary]', class: 'form-control', value: employee["salary"] %>
  </div>

  <div class="mb-3">
    <%= form.label :date_of_birth, class: 'form-label' %>
    <%= form.date_field :date_of_birth, name: 'employee[date_of_birth]', class: 'form-control', value: employee["date_of_birth"] %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
