<div id="<%= dom_id blog %>">
  <tr id="<%= dom_id blog %>">
    <th scope="row"><%= blog.id %></th>
    <td><%= blog.title %></td>
    <td><%= truncate(blog.body, length: 100) %></td>
    <td><%= blog.user.email %></td>
    
    <td>
      <%= link_to "Show", blog_path(blog), class: "btn btn-sm btn-info" %>
      <% if blog.user == current_user %>
        <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-sm btn-primary" %>
      <% end %>
    </td>
  </tr>
</div>